.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;
    padding: 0 35px;

    display: flex;
    align-items: center;

    z-index: 1000;
}
.navbar.dark{
    background: rgba(255, 255, 255, .22);
}
.navbar.light{
    background: rgba(255, 255, 255, .85);
}

/* Light Theme */
.navbar.light .nav-links a {
    color: #374151;
}

.navbar.light .nav-links a:hover {
    color: #2563EB;
}

/* Dark Theme */
.navbar.dark .nav-links a {
    color: #E5E7EB;
}

.navbar.dark .nav-links a:hover {
    color: #60A5FA;
}


.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    
    
}
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55px;
}
.navbar.dark .profile{
    color: white;

}
.navbar.light .profile{
    color:#374151;
}
.logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
    transition: .3s;
}
.logo:hover {

    transform: scale(1.2);

    filter: drop-shadow(0 0 15px #3B82F6);
}
.guide-link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar.light .guide-link {
    color: #374151;
}

.navbar.light .guide-link:hover {
    color: #2563EB;
}

.navbar.dark .guide-link {
    color: #E5E7EB;
}

.navbar.dark .guide-link:hover {
    color: #60A5FA;
}
.nav-links {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 45px;

    list-style: none;

    padding: 0;
    margin: 0;
}
.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    min-width: 120px;
    height: 42px;

    text-decoration: none;
    color: inherit;

    font-size: 18px;
    font-weight: 500;

    transition: .3s;
}
.nav-icon {
    font-size: 17px;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.nav-links a:hover .nav-icon {
    transform: scale(1.15);
}